@use '~@angular/material' as mat;
@include mat.core();
@import 'reset';
@import 'all' ;
@import 'mixins';
@import 'html-media';
@import 'typography';
@import "../../../../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

