$color-primary: #4e148c;
$color-secondary: #ff6602;
$color-app-background: #F3F1F6;
$color-component-background: #ede3f7;

$color-font-p: #444444;
$color-font-h1: #222222;
$color-font-clickable: $color-primary;

$color-form-fields-background: $color-app-background;
$color-form-section-disabled: #bbbbbb;

$color-alert-error: red;
$color-alert-info: blue;
$color-alert-warning: $color-secondary;
$color-alert-okay: green;

$font-family-primary: "Roboto", Arial, Helvetica, sans-serif;
