$root-app-background: #F3F1F6;
$root-component-background: lightblue;
$root-component-border: white;

$root-alert-error: red;
$root-alert-info: blue;
$root-alert-warning: red;
$root-alert-okay: green;

$font-family-primary: "Roboto", Arial, Helvetica, sans-serif;

$root-header-footer: #3A8B45;
$root-headers: white;
$root-primary: white;
