@import 'variables';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  header, footer {
    width: 100%;
    background-color: rgba($root-header-footer, .8);
    color: $root-headers;
    * {
      text-align: center;
    }
  };

  footer {

    position: fixed;
    bottom: 0;
    padding: .2rem 1rem .2rem 1rem;

    &:before {
      height: 100%;
      width: 100%;
      background-image: linear-gradient(to bottom, rgba($root-header-footer, 0), rgba($root-header-footer, .8));
      left: 0;
      bottom: 100%;
    }

    & p.clickable {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  header { // todo could be optimized with footer in mixin
    padding: 1rem;

    h1 {
      margin: 0; // todo should have been fixed in reset
    }
    &:after {
      height: 1rem;
      width: 100%;
      background-image: linear-gradient(to bottom, rgba($root-header-footer, .9), rgba($root-header-footer, 0));
      left: 0;
      transform: translateY(100%);
    }
  }
}
