@import 'variables';
@import '../styles';

section {
  margin: 5rem;
  padding: 1rem;

  background: $fibonacci-background;
  border: .15em solid $fibonacci-borders;
  border-radius: 1rem;
  color: white;

  filter: drop-shadow(0 0 30px white);

  h1, h2 {
    color: $fibonacci-headers;
    text-shadow: .2rem .2rem .8rem $fibonacci-font-shadow;
  }

  table {
    .mat-row {
      height: auto;
    }

    .mat-cell {
      padding: .6rem .6rem .6rem 0;
    }
  }
}
