section{
  border: .1em solid black;
  background: lightblue;

  margin-bottom: 5rem;
  padding: 1rem;


  table {
    .mat-row {
      height: auto;
    }

    .mat-cell {
      padding: .6rem .6rem .6rem 0;
    }
  }
}
