<section class="get-number">
  <h2>{{'fibonacci.number'| translate}}</h2>
  <form (submit)="handleCalcFibonacci(); $event.preventDefault()">
    <sv-text-input
      [formGroupObj]="fibonacciForm"
      [options] = "options"
    >
    </sv-text-input>
    <div class="action-buttons">
      <button class="submit">
        {{'fibonacci.getNumber'| translate}}
      </button>
    </div>
    Result: {{result}}
  </form>
</section>
<section class="history">
  <h2>{{'fibonacci.history'| translate}}</h2>

  <table mat-table [dataSource]="history" class="mat-elevation-z8">

    <ng-container matColumnDef="requestId">
      <th mat-header-cell *matHeaderCellDef>{{'fibonacci.requestId' | translate }}</th>
      <td mat-cell *matCellDef="let element"> {{element.requestId}} </td>
    </ng-container>

    <ng-container matColumnDef="timestamp">
      <th mat-header-cell *matHeaderCellDef>{{'fibonacci.time' | translate }}</th>
      <td mat-cell *matCellDef="let element"> {{element.timestamp}} </td>
    </ng-container>

    <ng-container matColumnDef="ipAddress">
      <th mat-header-cell *matHeaderCellDef>{{'fibonacci.ipAddress' | translate }}</th>
      <td mat-cell *matCellDef="let element"> {{element.ipAddress}} </td>
    </ng-container>

    <ng-container matColumnDef="number">
      <th mat-header-cell *matHeaderCellDef>{{'fibonacci.number' | translate }}</th>
      <td mat-cell *matCellDef="let element"> {{element.number}} </td>
    </ng-container>

    <ng-container matColumnDef="fibonacci">
      <th mat-header-cell *matHeaderCellDef>Fibonacci</th>
      <td mat-cell *matCellDef="let element"> {{element.fibonacci}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
        [ngStyle]="{'background-color': row.myRequest === true ? 'green' : 'red'}"></tr>
  </table>

  <div >
    <button >{{'fibonacci.older'| translate}}</button>
  </div>
</section>
